
@media (max-width: 1050px) {
  .movie {
    align-items: center;
    .desc {
      margin-right: 2rem;
    }

    .img {
      width: 250px;
      height: 250px;
      // border: 10px solid red;
    }
  }
}

@media (max-width: 800px) {
  .movie {
    .img {
      display: none;
    }
  }
}
