// // !traversy

@media (max-width: 1050px) {
  .movie {
    align-items: center;
    .desc {
      margin-right: 2rem;
    }

    .img {
      // display: none;
      width: 250px;
      height: 250px;
      // border: 10px solid red;

      img {
        // width: 100%;
        
      }
    }
  }
}

@media (max-width: 800px) {
  .movie {



    .img {
      display: none;
 
      // border: 10px solid red;

    
    }
  }
}



// img {
//   height: 500px;

//   img {
//     height: 100%;
//   }
// }